@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blk: #262834;
  --white: white;
}

body {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 2rem;
}

.coming-soon {
  background-color: var(--blk);
  color: var(--white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}